<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>CFBundleURLTypes</key>
<array>
    <dict>
        <key>CFBundleURLSchemes</key>
        <array>
            <string>blockerapp</string>
        </array>
        <key>CFBundleURLName</key>
        <string>com.blockerapp</string>
    </dict>
</array>
    <key>SUPABASE_URL</key>
    <string>https://ixdrshuqzpesvyoomzsx.supabase.co</string>
    <key>SUPABASE_KEY</key>
    <string>sb_publishable_lTe8LVLW3tEEkmo9vVwFSg_pUGXATdj</string>
</dict>
</plist>
